.form-row.omise-label-inline label,
.omise-label-inline label,
label.omise-label-inline {
	display: inline-block;
}

.omise-remember-card input,
.omise-remember-card label {
	display: inline-block;
}

.omise-customer-card-list {
	padding-bottom: .75em;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 1px #fff;
}

#label-new_card_info h3 {
	margin-top: .75em;
	display: inline-block;
}

fieldset.card-exists {
	display: none;
}

#new_card_info:checked ~ fieldset.card-exists {
	display: block;
}

/**
 * 1). Specific style
 * (usually designed specifically for only one purpose).
 */
#payment .payment_methods li .payment_box fieldset#omise-form-installment,
#payment .payment_methods li .payment_box fieldset#omise-form-internetbanking {
	padding: 0;
}

.omise-banks-list .installment-term-select-box {
	width: 8rem;
	border: 1px solid #d4d4d4;
	font-size: 80%;
}

#payment .payment_methods li .payment_box fieldset#omise-form-installment .omise-buttom-note {
	margin-top: 4em;
}

#payment .payment_methods li .payment_box fieldset#omise-form-installment .omise-installment-interest-rate {
	color: #aaa;
	font-size: 80%;
	line-height: 1;
}

/**
 * Omise Bill Payment Tesco
 * CSS for the 'Thank You' (order-received) page.
 */
.omise-konbini-details,
.omise-billpayment-tesco-details {
	margin-bottom: 4em;
	text-align: center;
}
.omise-billpayment-tesco-barcode {
	display: inline-block;
}
.omise-billpayment-tesco-print-button {
	margin-top: 2em;
}
.omise-konbini-footnote,
.omise-billpayment-tesco-footnote {
	margin-top: 4em;
	padding: 1em;
	font-size: 85%;
	text-align: left;
	background-color: #f8f8f8;
}
.omise-billpayment-tesco-footnote p {
	margin: 0;
	padding: 0;
}

/**
 * Omise PayNow
 */
.omise-paynow-details {
	margin-bottom: 4em;
	text-align: center;
}
.omise-paynow-details img {
	margin: auto;
}
.omise-paynow-logo {
	background: url('../images/paynow.png');
	background-size: cover;
	width: 200px;
	height: 51px;
	margin: auto;
}

.omise-paynow-payment-status {
	margin-top: 15px;
}

.omise-paynow-payment-status #timer {
	font-weight: 700;
}

.omise-paynow-payment-status .green-check {
	background: url('../images/green-check.svg') no-repeat;
	height: 150px;
	width: 116px;
	margin: auto;
}

/**
* Omise Promptpay
*/

.omise-qr-image > svg {
	max-width: 100%;
	height: auto;
}

@media all and (min-width: 768px) {
	.omise-qr-image > svg {
		max-width: 300px !important;
	}
}

.omise-download-promptpay-qr {
	display: inline-block;
	color: white !important;
	padding: 6px 12px;
	font-weight: bold;
	background-color: #1A53F0;
	border-radius: 4px;
	margin-bottom: 0.75rem;
	cursor: pointer;
}

.omise-download-promptpay-qr:hover {
	background-color: #0c3abb;
}


/**
 * 2). Components
 * (stylesheets that are designed generally and may be commonly used as a component).
 */
/**
 * 2.1). Typography
 */
.omise-secondary-text {
	color: #aaa;
	font-size: 80%;
}

/**
 * 2.2). Components
 */
.omise-buttom-note {
	margin-top: 2em;
	color: #aaa;
	font-size: 80%;
}

.omise-additional-payment-details-box {
	margin-bottom: 4em;
	text-align: center;
}

/**
 * 2.3). Form, bank list components
 */
ul.omise-banks-list {
	margin: 0;
}

.omise-banks-list input[type="radio"] + label::before {
	position: relative;
}

.omise-banks-list .item {
	position: relative;
	padding: 14px 0;
	border-bottom: 1px solid #eee;
}

.omise-banks-list .item.fpx:first-child {
	padding-top: 20px;
}

.omise-banks-list .item:first-child {
	padding-top: 0;
}

.omise-banks-list .item > input {
	position: absolute;
	top: 28px;
	left: 8px;
}

.omise-banks-list .item:first-child > input {
	top: 14px;
}

.omise-banks-list .item > label {
	display: inline-block;
	padding: 0 0 0 32px;
	cursor: pointer;
	position: relative;
}

.omise-banks-list .bank-label {
	display: inline-block;
	width: 180px;
	vertical-align: top;
}

.omise-banks-list .fpx-bank-label {
	display: inline-block;
	width: 180px;
	vertical-align: middle;
}

.omise-banks-list .bank-logo {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-top: 4px;
	border-radius: 2px;
	border: 4px solid #fff;
}

.omise-banks-list .fpx-bank-logo {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
}

/** Media Quries **/
@media all and (min-width: 375px) {
	ul.omise-banks-list {
		margin: 0 0 0 1.75em;
	}

	.omise-banks-list .item > input {
		left: 3.5px;
	}

	.omise-banks-list .bank-label {
		padding-left: 8px;
	}
}

@media all and (min-width: 768px) {
	ul.omise-banks-list {
		margin: 0;
	}

	.omise-banks-list .bank-label {
		padding-left: 0px;
		width: auto;
	}
}

@media all and (min-width: 1024px) {
	ul.omise-banks-list {
		margin: 0 0 0 1.75em;
	}

	.omise-banks-list .bank-label {
		padding-left: 8px;
		width: 148px;
	}
}

@media all and (min-width: 1280px) {
	.omise-banks-list .bank-label {
		width: 180px;
	}
}

/**
 * 2.4). Bank logos
 */
/** BAY **/
.bank-logo.bay {
	background: url('../images/bay.svg') #fec43b;
	border-color: #fec43b;
}

/** BBL **/
.bank-logo.bbl {
	background: url('../images/bbl.svg') #1e4598;
	border-color: #1e4598;
}

/** First Choice **/
.bank-logo.first_choice {
	background: url('../images/firstchoice.svg') #007bc4;
	border-color: #007bc4;
}

/** KBANK **/
.bank-logo.kbank {
	background: url('../images/kbank.svg') #ffffff;
	border-color: #ffffff;
}

/** KTB **/
.bank-logo.ktb {
	background: url('../images/ktb.svg') #1ba5e1;
	border-color: #1ba5e1;
}

/** KTC **/
.bank-logo.ktc {
	background: url('../images/ktc.svg') #ffffff;
	border-color: #ffffff;
}

/** SCB **/
.bank-logo.scb {
	background: url('../images/scb.svg') #4e2e7f;
	border-color: #4e2e7f;
}

/**
fpx bank logos
**/
.fpx-bank-logo.affin_test,.fpx-bank-logo.affin {
	background: url('../images/fpx-affin.svg');
}

.fpx-bank-logo.agro {
	background: url('../images/fpx-agronet.svg');
}

.fpx-bank-logo.alliance {
	background: url('../images/fpx-alliance.svg');
}

.fpx-bank-logo.ambank {
	background: url('../images/fpx-ambank.svg');
}

.fpx-bank-logo.islam {
	background: url('../images/fpx-islam.svg');
}

.fpx-bank-logo.muamalat {
	background: url('../images/fpx-muamalat.svg');
}

.fpx-bank-logo.rakyat {
	background: url('../images/fpx-rakyat.svg');
}

.fpx-bank-logo.bsn {
	background: url('../images/fpx-bsn.svg');
}

.fpx-bank-logo.cimb {
	background: url('../images/fpx-cimb.svg');
}

.fpx-bank-logo.citi {
	background: url('../images/fpx-citi.svg');
}

.fpx-bank-logo.hongleong {
	background: url('../images/fpx-hongleong.svg');
}

.fpx-bank-logo.hsbc {
	background: url('../images/fpx-hsbc.svg');
}

.fpx-bank-logo.public {
	background: url('../images/fpx-publicbank.svg');
}

.fpx-bank-logo.rhb {
	background: url('../images/fpx-rhb.svg');
}

.fpx-bank-logo.sbc_a,.fpx-bank-logo.sbc_b,.fpx-bank-logo.sbc_c {
	background: url('../images/fpx-unknown.svg');
}

.fpx-bank-logo.sc {
	background: url('../images/fpx-sc.svg');
}

.fpx-bank-logo.uob {
	background: url('../images/fpx-uob.svg');
}

.fpx-bank-logo.ocbc {
	background: url('../images/fpx-ocbc.svg');
}

.fpx-bank-logo.kfh {
	background: url('../images/fpx-kfh.svg');
}

.fpx-bank-logo.maybank2e,.fpx-bank-logo.maybank2u {
	background: url('../images/fpx-maybank.svg');
}

.omise-offline {
	color: #aaa;
	font-size: 80%;
	float: right;
}

.omise-offline > p{
line-height: 2;
}

.offline {
	padding: 0 0 0 75px !important;
	margin-bottom:0px !important;
}

