.omise-remember-card input,
.omise-remember-card label {
	display: inline-block;
}

.omise-customer-card-list {
	padding-bottom: .75em;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 1px #fff;
}

#label-new_card_info h3 {
	margin-top: .75em;
	display: inline-block;
}

fieldset.card-exists {
	display: none;
}

#new_card_info:checked ~ fieldset.card-exists {
    display: block;
}
